Assignment1/*.o
Assignment1/a.out
Assignment1/RenderScene
Assignment1/Resources/*
Assignment1/Source/*.o
Assignment1/*.png
Assignment2/build/*
Assignment2/Debug/*
Assignment2/Release/*
Assignment2/*.png
Assignment3/build/*
Assignment3/Debug/*
Assignment3/Release/*
Assignment3/*.png

